# ----- LEDs -----
NET LED[0]  LOC = C11 |  IOSTANDARD = LVCMOS33;
NET LED[1]  LOC = C12 |  IOSTANDARD = LVCMOS33;
NET LED[2]  LOC = D14 |  IOSTANDARD = LVCMOS33;
NET LED[3]  LOC = D13 |  IOSTANDARD = LVCMOS33;
NET LED[4]  LOC = E13  |  IOSTANDARD = LVCMOS33;
NET LED[5]  LOC = E12  |  IOSTANDARD = LVCMOS33;
NET LED[6]  LOC = D11  |  IOSTANDARD = LVCMOS33;
NET LED[7]  LOC = E11  |  IOSTANDARD = LVCMOS33;

NET SI5338_SDA  LOC = B21  |  IOSTANDARD = LVCMOS33;
NET SI5338_SCL  LOC = A20  |  IOSTANDARD = LVCMOS33; #| SLEW = SLOW | DRIVE = 8
NET SI5338_IN4  LOC = B20  |  IOSTANDARD = LVCMOS33;
NET SI5338_CLK_EN  LOC = C26  |  IOSTANDARD = LVCMOS33;

NET CPLD_XIO_clk  LOC = H26  |  IOSTANDARD = LVCMOS33;
NET "CPLD_XIO_clk" TNM = "CPLD_XIO_clk";
TIMESPEC "TS_CPLD_XIO_clk" = PERIOD "CPLD_XIO_clk" 40ns HIGH 50 %;
NET "CPLD_XIO_clk" CLOCK_DEDICATED_ROUTE = FALSE;


NET BOARD_LED_RED    LOC = D26  |  IOSTANDARD = LVCMOS33;
NET BOARD_LED_GREEN  LOC = E26  |  IOSTANDARD = LVCMOS33;

# ----- Module Clock -----
# check this again!!
NET CLK0_SI5338	LOC = F22 |  IOSTANDARD = LVCMOS33;
#NET CLK0_SI5338_N	LOC = E23 ;
NET "CLK0_SI5338" TNM_NET = "CLK0_SI5338";
TIMESPEC "TS_CLK0_SI5338" = PERIOD "CLK0_SI5338" 40ns HIGH 50 %;
## check the frequency!!